@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700;800&family=Manrope:wght@800&family=Montserrat:wght@300&family=Outfit:wght@300&family=Overpass:wght@900&family=Red+Hat+Display:wght@500;700;900&family=Roboto&family=Rubik:wght@300;400;500&family=Space+Grotesk:wght@500&display=swap");

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --col-Light-Cyan: hsl(193, 38%, 86%);
  --col-Neon-Green: hsl(150, 100%, 66%);
  --col-GrayishBlue: hsl(217, 19%, 38%);
  --col-Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --col-Dark-Blue: hsl(218, 23%, 16%);
  --fs: 28px;
  --fw: 800;
  --ff: "Manrope", sans-serif;
}

body {
  font-family: var(--ff);
  background-color: var(--col-Dark-Blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  background-color: var(--col-Dark-Grayish-Blue);
  width: 90%;
  margin: auto;
  border-radius: 10px;
  
}
.advice-container{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding: 2rem;
    position: relative;
}
p{
    color: var(--col-Neon-Green);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    
}
h3{
    color: var(--col-Light-Cyan);
    font-size: var(--fs);

}
picture img{
    width: 100%;
    margin: 1rem 0;
    
}

button{
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: var(--col-Neon-Green);
    position: absolute;
    cursor: pointer;
    border: none;
    top:91%;
    transition: 0.3s ease-in-out;
    
}

@media(min-width: 600px){
  main {
    width: 40%; 
  }
}
/* Active*/

button:hover{
  box-shadow: 0px 0px 15px var(--col-Neon-Green);
}